<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/tomcat/hotspot.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c] %r - %l%n%m%n" />
		</layout>
	</appender>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c] %r - %l%n%m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="logfile" />
		<!-- <appender-ref ref="stdout" /> -->
	</root>
</log4j:configuration>